li {
    list-style-type: none;
    cursor: pointer;
}

ul {
    padding-left: 0;
}

.categories-container > .categories-list > li {
    display: block;
}

.hidden {
    display: none;
}

.site-menu ul {
    display: flex;
    gap: 10px;
}

.file-list {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

ul.categories-list:not(.init-list) {
    padding-left: 10px;
}